.cards{
  width: 95%;
    display: flex;
    margin: 30px auto;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}
.analyseBtn{
  position: sticky;
  bottom: 50px;
  background-color: royalblue;
  width: max-content;
  padding: 8px 16px;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  float: right;
  right: 35px;
}